#!/bin/bash
# 2021年1月8日
# Auto Create kubeconfig
# By: Lucifer
####################################

KUBE_COMPONENTES=(kubectl kube-controller-manager kube-scheduler kube-proxy)
CLUSTER_NAME="kubernetes"

echo "############################################################"
echo "#### Create kubeconfig Files with k8s master Components ####"
echo "############################################################"
echo
echo

for COM in ${KUBE_COMPONENTES[@]}
do
        if [ ${COM} == "kubectl" ];then
                PEM_NAME="admin"
                USER_NAME="admin"
        else
                PEM_NAME=${COM}
                USER_NAME="system:${COM}"
        fi

        # 设置集群项
        kubectl config set-cluster ${CLUSTER_NAME} \
          --certificate-authority="{{remote_k8s_work_dir}}/pki/ca.pem" \
          --embed-certs=true \
          --server="{{ apiserver }}" \
          --kubeconfig=${PEM_NAME}.kubeconfig

        # 设置用户项
        kubectl config set-credentials ${USER_NAME} \
          --client-certificate="{{remote_k8s_work_dir}}/pki/${PEM_NAME}.pem" \
          --client-key="{{remote_k8s_work_dir}}/pki/${PEM_NAME}-key.pem" \
          --embed-certs=true \
          --kubeconfig=${PEM_NAME}.kubeconfig

        # 设置环境项
        kubectl config set-context ${USER_NAME}@${CLUSTER_NAME} \
          --cluster=${CLUSTER_NAME} \
          --user=${USER_NAME} \
          --kubeconfig=${PEM_NAME}.kubeconfig

        # 设置默认上下文
        kubectl config use-context ${USER_NAME}@${CLUSTER_NAME} \
          --kubeconfig=${PEM_NAME}.kubeconfig
done
