KUBELET_OPTS="--logtostderr=false \
--v=4 \
--log-dir={{remote_k8s_logs_dir}} \
--hostname-override={{ node_name }} \
--bootstrap-kubeconfig={{remote_k8s_conf_dir}}/bootstrap.kubeconfig \
--kubeconfig={{remote_k8s_conf_dir}}/kubelet.kubeconfig \
--pod-infra-container-image=registry.cn-hangzhou.aliyuncs.com/google_containers/pause-amd64:3.2 \
--config={{remote_k8s_conf_dir}}/kubelet-config.yml \
--cert-dir={{remote_k8s_conf_dir}}/cert \
--root-dir={{remote_k8s_work_dir}}/kubelet \
--network-plugin=cni \
--cni-conf-dir={{remote_cni_conf_dir}} \
--cni-bin-dir={{remote_cni_bin_dir}} \
--image-pull-progress-deadline=15m \
--node-labels=node.kubernetes.io/node=''"
