[Unit]
Description=Kubernetes Kubelet
After=docker.service

[Service]
EnvironmentFile={{remote_k8s_conf_dir}}/kubelet.conf
ExecStart={{remote_bin_dir}}/kubelet $KUBELET_OPTS
Restart=on-failure
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
