{% set local_ip = inventory_hostname %}
KUBE_APISERVER_OPTS="--logtostderr=false \
--v=2 \
--log-dir={{remote_k8s_logs_dir}} \
--allow-privileged=true \
--bind-address={{ local_ip }} \
--advertise-address={{ local_ip }} \
--secure-port=6443 \
--insecure-port=0 \
--default-not-ready-toleration-seconds=360 \
--default-unreachable-toleration-seconds=360 \
--max-mutating-requests-inflight=2000 \
--max-requests-inflight=4000 \
--default-watch-cache-size=200 \
--delete-collection-workers=2 \
--encryption-provider-config={{remote_k8s_conf_dir}}/encryption-config.yaml \
--etcd-servers={% for host in groups['etcd'] %}https://{{ hostvars[host].inventory_hostname }}:2379{% if not loop.last %},{% endif %}{% endfor %} \
--etcd-cafile={{remote_etcd_cert_dir}}/etcd-ca.pem \
--etcd-certfile={{remote_etcd_cert_dir}}/etcd.pem \
--etcd-keyfile={{remote_etcd_cert_dir}}/etcd-key.pem \
--tls-cert-file={{remote_k8s_cert_dir}}/kube-apiserver.pem  \
--tls-private-key-file={{remote_k8s_cert_dir}}/kube-apiserver-key.pem \
--audit-log-maxage=30 \
--audit-log-maxbackup=3 \
--audit-log-maxsize=100 \
--audit-log-truncate-enabled=true \
--audit-log-path={{remote_k8s_logs_dir}}/k8s-audit.log \
--audit-policy-file={{remote_k8s_conf_dir}}/audit-policy.yaml \
--profiling \
--anonymous-auth=false \
--client-ca-file={{remote_k8s_cert_dir}}/ca.pem \
--enable-bootstrap-token-auth=true \
--requestheader-allowed-names=aggregator \
--requestheader-client-ca-file={{remote_k8s_cert_dir}}/front-proxy-ca.pem \
--requestheader-extra-headers-prefix=X-Remote-Extra- \
--requestheader-group-headers=X-Remote-Group \
--requestheader-username-headers=X-Remote-User \
--service-account-key-file={{remote_k8s_cert_dir}}/sa.pub \
--authorization-mode=Node,RBAC \
--runtime-config=api/all=true \
--enable-admission-plugins=NamespaceLifecycle,LimitRanger,ServiceAccount,DefaultStorageClass,DefaultTolerationSeconds,NodeRestriction,ResourceQuota  \
--apiserver-count=3 \
--event-ttl=168h \
--kubelet-certificate-authority={{remote_k8s_cert_dir}}/ca.pem \
--kubelet-client-certificate={{remote_k8s_cert_dir}}/kube-apiserver.pem \
--kubelet-client-key={{remote_k8s_cert_dir}}/kube-apiserver-key.pem \
--kubelet-https=true \
--kubelet-timeout=10s \
--proxy-client-cert-file={{remote_k8s_cert_dir}}/front-proxy-client.pem \
--proxy-client-key-file={{remote_k8s_cert_dir}}/front-proxy-client-key.pem \
--service-cluster-ip-range={{ service_cidr }} \
--service-node-port-range={{ service_nodeport_range }}"
