KUBE_CONTROLLER_MANAGER_OPTS="--logtostderr=false \
--v=2 \
--log-dir={{remote_k8s_logs_dir}} \
--secure-port=10257 \
--bind-address=127.0.0.1 \
--profiling \
--cluster-name=kubernetes \
--cluster-name=kubernetes \
--controllers=*,bootstrapsigner,tokencleaner \
--kube-api-qps=1000 \
--kube-api-burst=2000 \
--leader-elect=true \
--use-service-account-credentials \
--concurrent-service-syncs=2 \
--tls-cert-file={{remote_k8s_cert_dir}}/kube-controller-manager.pem \
--tls-private-key-file={{remote_k8s_cert_dir}}/kube-controller-manager-key.pem \
--authentication-kubeconfig={{remote_k8s_conf_dir}}/kube-controller-manager.kubeconfig \
--authorization-kubeconfig={{remote_k8s_conf_dir}}/kube-controller-manager.kubeconfig \
--client-ca-file={{remote_k8s_cert_dir}}/ca.pem \
--requestheader-allowed-names="aggregator" \
--requestheader-client-ca-file={{remote_k8s_cert_dir}}/front-proxy-ca.pem \
--requestheader-extra-headers-prefix="X-Remote-Extra-" \
--requestheader-group-headers=X-Remote-Group \
--requestheader-username-headers=X-Remote-User \
--cluster-signing-cert-file={{remote_k8s_cert_dir}}/ca.pem \
--cluster-signing-key-file={{remote_k8s_cert_dir}}/ca-key.pem  \
--experimental-cluster-signing-duration=87600h0m0s \
--horizontal-pod-autoscaler-sync-period=10s \
--concurrent-deployment-syncs=10 \
--concurrent-gc-syncs=30 \
--node-cidr-mask-size=24 \
--service-cluster-ip-range={{ service_cidr }} \
--cluster-cidr={{ pod_cidr }} \
--pod-eviction-timeout=6m \
--terminated-pod-gc-threshold=10000 \
--root-ca-file={{remote_k8s_cert_dir}}/ca.pem \
--service-account-private-key-file={{remote_k8s_cert_dir}}/sa.key \
--kubeconfig={{remote_k8s_conf_dir}}/kube-controller-manager.kubeconfig"
